.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;

}

.App-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10rem;
}

.box {
  width: 15rem;
  height: 15rem;
  border: 1px solid black;
  margin: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
